@font-face {
    font-family: 'LinLibertine_aS';
    src: url('./fonts/LinLibertine_aS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'LinLibertine_aDRS';
  src: url('./fonts/LinLibertine_aDRS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}